<h4>Welcome to Story Time! Start a new story or contribute to one that's already started!</h4>

<%= link_to "Add a new story", new_story_path, :class => "btn btn-success btn-lg", :id => "main-btn" %>

<h2>Contribute to these stories:</h2>
<ul>
  <div class="row">
  <% @stories.each do |story| %>
    <div class="col-sm-4 tile-padding">
      <%= image_tag "#{rand(16)}.jpg", :class => "img-responsive"%>
      <h2><%= link_to story.title, story_path(story)%></h2>
    </div>
  <% end %>
</div>
</ul>
